
<div class="about-container">

	<h5>{{site.data.settings.client.about_header}}
	</h5>
	<div class="client-image-container">
	<img src="/img/team.jpg" alt="{{site.data.settings.client.company}}" class="client-image" />
	</div>
	<p>
		{{ site.data.settings.client.brand }}<br />
		{% if site.data.settings.client.brokerage != null %}
		{{ site.data.settings.client.brokerage }}<br />
		{% endif %}
		{{ site.data.settings.client.address }}<br />
		{{ site.data.settings.client.office_phone }}<br />		
		<a href="mailto:{{ site.data.settings.client.office_email }}">{{ site.data.settings.client.office_email }}</a><br />		



		<a href="{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url | remove: 'http://' | remove: '/' }}</a><br />
		<p>As a third generation, <strong>family-owned</strong> and operated real estate company, <strong>Colemere Realty Associates</strong> has a long history of working for the success of our clients. Each member of our team is focused on providing <strong>the expertise of 3 generations in the business</strong>. We know that a real estate transaction can be very challenging which is why achieving your satisfaction is our top priority.</p>


        <p>As your <strong>REALTORS&reg;</strong>, we are <strong>committed to your success</strong> in the purchase and sale of your home, and we promise you the full support, experience, and expertise of our team.</p>
	</p>
</div>
