
<div class="about-container">

	<h5>{{site.data.settings.client.about_header}}
	</h5>
	<div class="client-image-container">
	<img src="/img/team.jpg" alt="{{site.data.settings.client.company}}" class="client-image" />
	</div>
	<p>
		{{ site.data.settings.client.brand }}<br />
		{% if site.data.settings.client.brokerage != null %}
		{{ site.data.settings.client.brokerage }}<br />
		{% endif %}
		{{ site.data.settings.client.address }}<br />


		<a href="{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url | remove: 'http://' | remove: '/' }}</a><br />
		{{client.clients.about_markdown | markdownify }}

	</p>
</div>
