
<div class="about-container">

	<h5>{{site.data.settings.client.about_header}}
	</h5>
	<div class="client-image-container">
	<img src="/img/team.jpg" alt="{{site.data.settings.client.company}}" class="client-image" />
	</div>
	<p>
		{{ site.data.settings.client.brand }}<br />
		{% if site.data.settings.client.brokerage != null %}
		{{ site.data.settings.client.brokerage }}<br />
		{% endif %}
		{{ site.data.settings.client.address }}<br />
		{{ site.data.settings.client.office_phone }}<br />		
		<a href="mailto:{{ site.data.settings.client.office_email }}">{{ site.data.settings.client.office_email }}</a><br />		



		<a href="{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url | remove: 'http://' | remove: '/' }}</a><br />
		<p>As a Third Generation, Family owned and operated Real Estate Company, Colemere Realty Associates has a long history of working for our clients’ success. Each member of our team is focused on providing personal service with integrity knowledge and WOW! We know that a real estate transaction can be very challenging to successfully navigate that is why we are committed to doing whatever it takes to make you 100% successful.</p>


        <p>As your REALTOR®, we see ourselves as the pilots of your plane. Our job is to assist you with the purchase or sale of your home; getting you where you want to be on time and with the fewest aggravations. We can’t promise you no turbulence, or that other parties to the transaction won’t try and pull a few stunts, but we can promise you that we’ll utilize our experience and expertise to take you on the smoothest flight that we can. And if we do hit turbulence, we won’t bail out on you. We’ll be your teammates throughout the flight, until we get you safely to your destination.</p>
	</p>
</div>
