<div class="career-track">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="career-title">Career Track</div>
      <div class="career-subtitle">Your Path to a Life by Design</div>



      <a href="/img/inside.png" target="_blank" class="zoom">
        <img src="/img/inside.png" class="three-quarter-image" id="graph">
      </a>

      <br>

      <a href="/img/outside.png" target="_blank" class="zoom">
        <img src="/img/outside.png" class="three-quarter-image" id="graph">
      </a>

      <br>

      <a href="/img/operations.png" target="_blank" class="zoom">
        <img src="/img/operations.png" class="three-quarter-image" id="graph">
      </a>

      <br>

    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
