<br>
<p>Sign up now to get a copy of Kati's new book
<b>"How to Build a Rock Star Real Estate Team Without F**king It Up!"</b>
Get on the list to be notified when the final version of Kati's book comes out!</p>
<center><img src="/img/book.png" width="60%"></center>
<br>

<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="https://wizehire.com/cmp/the-spaniak-team-exprealty">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://kathleenspaniak.exprealty.careers/">Learn More   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeHi9qy897Mu20tN54j73ZJyZ7sA5nqyj2JFL1S-K6mQsR1Aw/viewform">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>

<div class="photo-cta">
  <img src="/img/cta-images/facebook.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://www.facebook.com/realestategrit/">View Our Page  <i class="fa fa-angle-double-right"></i></a></div>
</div>

<!--<div class="fb-page" data-href="https://www.facebook.com/realestategrit/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/realestategrit/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/realestategrit/">Real Estate Grit</a></blockquote></div>-->
