<link href="https://static-cdn.e2ma.net/signups/css/signup-refresh.med.css" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://signup.e2ma.net/tts_signup/1876524/a8c8d7060345661e5d6d11ac4c27f034/1808260/"></script><div id="load_check" class="signup_form_message" >This form needs Javascript to display, which your browser doesn't support. <a href="https://signup.e2ma.net/signup/1876524/1808260/"> Sign up here</a> instead </div><script type="text/javascript">signupFormObj.drawForm();</script>

{% for cta in site.data.settings.sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
	<a href="{{cta.first_CTA_URL}}" target="_blank">
		{% else %}
		<a href="{{cta.CTA_url}}" target="_blank">
		{%endif%}
		<img src="{{cta.CTA_image_path}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.first_CTA_URL}}" target="_blank">
			{{site.data.settings.CTAs.first_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url}}" target="_blank">
			{{cta.CTA_link_text | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}
{% for cta in site.data.settings.second_sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text2 == null or cta.CTA_url2 == null%}
	<a href="{{cta.second_CTA_URL}}" target="_blank">
		{% else %}
		<a href="{{cta.CTA_url2}}" target="_blank">
		{%endif%}
		<img src="{{cta.CTA_image_path2}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title2 | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text2 | replace: '-- MARKET --', site.data.settings.client.market}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text2 == null or cta.CTA_url2 == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.second_CTA_URL}}" target="_blank">
			{{site.data.settings.CTAs.second_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url2}}" target="_blank">
			{{cta.CTA_link_text2 | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}

<div class="photo-cta">
  <img src="/img/cta-images/workshop.jpg"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/workshop">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>
