<div class="yt-container">
    <h2>
        <a href="https://www.healthyrealtycares.com/?fbclid=IwAR2jmrGrpTVJ4RPlJ8jNv_W5rlDfwCsmSXe7jei834yF09mKXT_sIDV2KjA#our-story" target="_blank">Healthy Realty Team</a>
    </h2>
    <iframe width="966" height="543" src="://www.youtube.com/embed/aWaUd80598Y" title="Healthy Realty + OneWorld Health" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br/>
    <div class="ctacontainer text-center">
        <a class="ctalink" href="https://www.healthyrealtycares.com/" target="_blank">Learn more</a>
    </div>
</div>

<div class="yt-container">
    <h2>
        <a href="https://www.healthyrealtycares.com/?fbclid=IwAR2jmrGrpTVJ4RPlJ8jNv_W5rlDfwCsmSXe7jei834yF09mKXT_sIDV2KjA#our-story" target="_blank">How We Give</a>
    </h2>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/waO0Ci3ra1c" title="Healthy Realty + OneWorld Health" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br/>
    <div class="ctacontainer text-center">
        <a class="ctalink" href="https://www.healthyrealtycares.com/" target="_blank">Learn more</a>
    </div>
</div>