<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
        <!-- title -->
        <a href="/"><h1 class="site-title">{{site.data.settings.images.hero_text | replace: '-- MARKET --', site.data.settings.client.market}}</h1></a>
			</div>
</header>
<!-- TrafficFuel PowerPixel -->
<script>
var TFConfig = {
"pixel_id":"141446-PLQ2LQ8-525784"
};
</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PLQ2LQ8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script type="text/javascript" defer src="https://trafficfuelpixel.s3-us-west-2.amazonaws.com/pixel.js"></script>
<noscript><iframe src="//my.trafficfuel.com/powerpixel.php?pixel_id=141446-PLQ2LQ8-525784" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PLQ2LQ8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PLQ2LQ8');</script>
<!-- End of TrafficFuel PowerPixel -->