<div class="laws">
<h5><strong>Federal Telemarketing Laws</strong></h5>
FCC regulations prohibit telemarketers from using automated dialers to call cell phone numbers. We remove them from your list and call them on a standard phone line without a dialer. We also remove everyone who is registered on the DNC list who you do not have an existing business relationship (up to 3 months after last inquiry).

<hr>

<h5><strong><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title47/html/USCODE-2011-title47-chap5-subchapII-partI-sec227.htm" target="_blank">TCPA</a></strong></h5>
United States Code, 2011 Edition<br>
Title 47 - TELEGRAPHS, TELEPHONES, AND RADIOTELEGRAPHS<br>
CHAPTER 5 - WIRE OR RADIO COMMUNICATION<br>
SUBCHAPTER II - COMMON CARRIERS<br>
Part I - Common Carrier Regulation<br>
Sec. 227 - Restrictions on use of telephone equipment<br>

<a href="http://www.ecfr.gov/cgi-bin/text-idx?c=ecfr&rgn=div6&view=text&node=47:3.0.1.1.11.12&idno=47" target="_blank">Restrictions on Telemarketing, Telephone Solicitation, and Facemile Advertising (TCPA Rules)</a><br>

<a href="http://www.ecfr.gov/cgi-bin/text-idx?c=ecfr&rgn=div5&view=text&node=16:1.0.1.3.34&idno=16" target="_blank">Telemarketing Sales Rules (TSR)</a><br>

If you ask for phone numbers on your website as an opt-in requirement (and you/we plan on calling them with an autodialer) you must get express consent on the opt-in form.

<hr>

<h5><strong>Opt-In Requirement Language:</strong></h5>

<p>Yes, I want to receive special offers! By clicking the "SUBMIT" button below, I expressly authorize ___[SPECIFIC COMPANY NAME(S)]___ to call me or send me recorded messages or texts about their products and services using automated technology to my telephone/cellular number I entered immediately above. I understand that I am not required to consent in order to purchase.</p>

<p>(SUBMIT BUTTON)</p>

<p>For record-keeping, make sure to capture IP address, time and date stamp, and screenshot (or similar) showing exactly what consumer saw when they consented. Store all this so you can immediately produce for a regulator or court upon request. Burden of proof for consents is on the caller. The consumer merely has to allege they did not consent, and then you will be required to prove consent occurred.</p>
</div>
