<div class="reviews-container">
  <div class="reviews">
    <div class="review">
      <img src="{{ site.baseurl }}/img/5-stars.png" alt="5 star rating" width="130" height="25" />
      <p>"We received very good results better than we expected. He was just very well informed, knew the market very well."</p>
      <p class="name">- Jason</p>
    </div>
    <div class="review">
      <img src="{{ site.baseurl }}/img/5-stars.png" alt="5 star rating" width="130" height="25" />
      <p>"We had very professional results! Great turnover as far as reselling our home. Great marketing! I had 8 offers within 3 days!"</p>
      <p class="name">- Bill</p>
    </div>
     <div class="review">
      <img src="{{ site.baseurl }}/img/5-stars.png" alt="5 star rating" width="130" height="25" />
      <p>"We had excellent results! We sold our home very quickly. Kevin came out to the house and discussed the sale with us and gave us some pointers."</p>
      <p class="name">- Marcia</p>
    </div>
    <div class="review">
      <img src="{{ site.baseurl }}/img/5-stars.png" alt="5 star rating" width="130" height="25" />
      <p>"I was very pleased with Kevin and his entire staff. They did a remarkable job processing from the start to finish."</p>
      <p class="name">- Jess</p>
    </div>
  </div>
</div>

