<div class="browse-container">
  <div class="row">

    <div class="col-sm-4 simple-cta">
      <a href="/contact/" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Become A Part of The AJ Team
        </p>
        <img src="/img/contact.jpg" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Are you interested in furthering your real estate sales career?
        </p>
        <a href="/contact/" class="simple-cta-link">
          Contact Us
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="http://allenjohnsoncoaching.com/join-us-in-mentoring-the-next-generation-of-leaders.html" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Join Us in Mentoring the Next Generation of Leaders
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBaua3PlMXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p class="secondary-subtitle">
          Personalized Advice for you
        </p>
        <a href="http://allenjohnsoncoaching.com/join-us-in-mentoring-the-next-generation-of-leaders.html" class="simple-cta-link">
          Book a Call
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="/subscribe/" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Free Newsletter
        </p>
        <img src="/img/subscribe.jpg" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Tips and Advice to Succeed!
        </p>
        <a href="/subscribe/" class="simple-cta-link">
          Sign Up Now
        </a>
      </div>
      </a>
    </div>


  </div>
</div>
