<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>Expect Results and First Class Service -The Kohler Group Services the Chicago Land Area</h4><br>
			</div>
		</div>
	<div class="row">
		<div class="team-container">
		<div class="col-lg-3 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="/img/allison.jpg" alt="Allison Rucinski" class="client-image" />
				</div><br />
				<strong>Allison Rucinski</strong><br>
				Transaction Coordinator<br>
				<a href="https://thekohlergroup.cbintouch.com/featuredlistings/" target="_blank">Featured Listings</a>
			</div>


			<div class="col-lg-3 hidden-sm hidden-xs">

					<div class="client-image-container">
						<img src="/img/cassie.jpg" alt="Cassie Henrich" class="client-image" />
					</div><br />
					<strong>Cassie Henrich</strong><br>
					Broker<br>
					<a href="https://thekohlergroup.cbintouch.com/featuredlistings/" target="_blank">Featured Listings</a>
				</div>


				<div class="col-lg-3 hidden-sm hidden-xs">

						<div class="client-image-container">
							<img src="/img/jacquelyn.jpg" alt="Jacquelyn Theisen" class="client-image" />
						</div><br />
						<strong>Jacquelyn Theisen</strong><br>
						Broker<br>
						<a href="https://thekohlergroup.cbintouch.com/featuredlistings/" target="_blank">Featured Listings</a>
					</div>


					<div class="col-lg-3 hidden-sm hidden-xs">

							<div class="client-image-container">
								<img src="/img/kari.jpg" alt="Kari Kohler" class="client-image" />
							</div><br />
							<strong>Kari Kohler</strong><br>
							Broker<br>
							<a href="https://thekohlergroup.cbintouch.com/featuredlistings/" target="_blank">Featured Listings</a>
						</div>


	</div>
</div>
</div>
