<div class="homepage-bio">
  <p class="team-bio">
    The three things everyone looks for when they get into real estate are freedom of Time, Money and Stress. At DFT, you’ll have a steady flow of appointments handed to you and team support enables you to spend 80% of your time on the 20% of the things that help you close more business. All of the agents that have chosen Dave Friedman Team as the place to build their real estate career have a career worth having which delivers Freedom of Time, Money and Stress. Choose your own reactions by controlling your own life and your daily living will bring you joy and happiness.
  </p>
</div>
