<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>Expect Results and First Class Service -The Kohler Group Services the Chicago Land Area</h4><br>
			</div>
		</div>
	<div class="row">
		<div class="team-container">
		<div class="col-lg-3 hidden-sm hidden-xs">


				<div class="client-image-container-main">
					<img src="/img/kari.jpg" alt="Kari Kohler" class="client-image" />
				</div><br />
				<strong>Kari Kohler</strong><br>
				Lead Broker<br>
				<a href="https://thekohlergroup.cbintouch.com/featuredlistings/" target="_blank">Featured Listings</a>
			</div>
	</div>
</div>
</div>
