<!-- <h1>DFT Training Program</h1>
<hr> -->
<div class="training">
<p>DFT provides an in-house, hands-on training program for all agents that join our team. </p>

<p>Our training program is called the DFT Proven Path and it typically takes a candidate around 90 days to complete the training program. You will be given a set of 30 day goals, 60 day goals, and 90 day goals - you are required to meet all goals in order to complete the training program. </p>

<p>A candidate may get through the training program sooner than 90 days depending on how focused they are on achieving their goals.</p>

<p>The training program is Monday through Friday, starting at 8:00am. It starts with 3 hours of training per day and the remainder of the day is practical application. That’s where the actual work happens. Over the first 30 days, the training slowly reduces as your professional application of it increases. </p>

<p>While in training, you will be learning how to lead generate business. Once out of training, you will want to lead generate at least 12 hours per week. By the end of your 60 days, you will be more successful than the average real estate professional.
You will be working very closely with our Sales Manager and you’ll have weekly 1-on-1 meetings. You will also be learning from our team of seasoned professionals who will provide mentorship, knowledge, and experience with you to learn from. </p>

<p>You will be working very closely with our Sales Manager and you’ll have weekly 1-on-1 meetings. You will also be learning from our team of seasoned Buyers Agents who will provide mentorship, knowledge, and experience with you to learn from. </p>

<p>We will show you how to sell real estate! During this training period, you will be doing a lot of scripts practice and role-playing, understanding concepts around the language of real estate, finding motivation in potential clients, converting phone leads into appointments, writing contracts, the proper way to show homes, how to close clients, and we’ll teach you the tips and tricks we’ve used to become the number 1 team in Charleston! </p>

<p>Our start dates are the 1st and the 15th of the month; if this day falls on a weekend or a company Holiday, it will move to the following day. </p>
<a name="#A4"></a></div>
