<div class="value-prop">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="career-title">Value Proposition</div>
      <div class="career-subtitle">DFT Value Proposition and What This Means for You</div>
      <p>The three things everyone looks for when they get into real estate are freedom of Time, Money and Stress. According to NAR, 90% of agents drop out in the first 2 years and only 1% master what they want which leaves the rest with no freedom of Time, Money isn’t where it could be and a lot of Stress all of the time.</p>

      <p>Having a steady flow of appointments handed to you and team support enables you to spend 80% of your time on the 20% of the things that help you close more business. All of the agents that have chosen Dave Friedman Team as the place to build their real estate career have a career worth having which delivers Freedom of Time, Money and Stress.</p>

      <p>Here is what it looks like for an Agents Career and Life at Dave Friedman Team!</p>

      <p><strong>Money Freedom</strong> - All of our team members at Dave Friedman team make at a minimum of $80k to $300k+ after their first year of experience. If you already have experience, you will get there that much quicker!</p>

      <p><strong>Time Freedom</strong> - Dave Friedman Team team believes in giving their team members autonomy while providing a framework to be successful. What this looks like is 2 hours in the office per week including valuable coaching, training and team meetings. There are also over the phone team check in meetings to assist with accountability and coaching. You’re looking at 40 to 50 hours per week.</p>

      <p><strong>Stress Freedom</strong> -  Dave Friedman Team gives you inspiring, empowering, dynamic, powerful and life-changing solutions to living well. We coach our team on eliminating your stress and leading a level 10 life in Fitness, Family, Faith, Future, Finance, Friends and Fun. You can now choose your own reactions by controlling your own life and your daily living will bring you joy and happiness.</p>




      <a href="/img/proposition.jpg" target="_blank" class="zoom">
        <img src="/img/proposition.jpg" class="three-quarter-image">
      </a>



    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
