//For individual theme fixes. You know all about it.
// .site-logo
// 	max-width: 40rem

.footer
	color: #fff
	.attribution
		svg
			fill: #fff
	.socials
		svg
			fill: #fff
			&:hover
				fill: $brand-dark
	a
		color: #fff

.newsletter
	background: darken($theme, 3%)

.event-title
	text-align: center
	font-weight: bold
	margin-top: 20px
	text-transform: uppercase

.event-para
	text-align: center
	background-color: white
	margin-top: 20px
	padding: 10px
	border: 1px solid $brand

.event-icon
	width: 75%
	display: block
	margin: 0 auto

.whitespace
	margin-top: 3rem

.vid
	width: 90%
