//For individual theme fixes. You know all about it.
// .site-logo
// 	max-width: 40rem

.footer
	color: #fff
	.attribution
		svg
			fill: #fff
	.socials
		svg
			fill: #fff
	a
		color: #fff

.newsletter
	background: darken($theme, 3%)




#side-logo
	width: 90%
	margin: 0 auto

.client-testimonial
	margin-top: 10px

.testimonial-text
	font-style: italic

.testimonial-author
	color: #b40101
	margin-top: -20px

.whitespace
	margin-top: 3rem

.text-20
	font-size: 20px

.question
	font-size: 20px
	color: $brand
	font-weight: bold

.faq
	font-size: 20px

.faq-list
	list-style: none

.pricing-table
	margin: 0 auto
	font-size: 18px

.content
	background: #eeeeee
	width: 40%
	display: block
	margin-left: 5%
	float: left
	padding: 30px

.heading
	background: $theme
	color: #fff
	text-align: center
	padding: 5px
