.zillow-logo
	fill: $icon-fill
	max-height: 3rem
	position: relative
	top: 0.5rem


.trulia-logo
	@extend .zillow-logo
	top: 0.2rem

.yelp-logo
	@extend .zillow-logo

.review-button-wrapper
	text-align: left
	height: 75px

.review.button
	svg
		fill: $light-text
		width: 100px
	text-align: center
	display: inline-block
	max-width: 350px
	width: 100%
	margin: .5rem
	font-size: 2rem
	&:hover
		svg
			fill: $brand
		background: transparent
		color: $brand-light
		border: 1px solid $brand
	&:active
		box-shadow: 0 0 0 $brand-light

@media (max-width: 990px)
	.review-button-wrapper
		text-align: center
