---
layout: post
title: Wishing You a Happy Thanksgiving
date: 2018-11-19 17:21:44
tags:
  - Real Estate
excerpt: >-
  This Thanksgiving, we’d like to extend our sincere thanks to all of you who
  have made our business possible.
enclosure: >-
  https://s3.amazonaws.com/vyralmarketing/Brad+Korb/LA+Real+Estate+Agent-+Happy+Thanksgiving+from+the+Brad+Korb+Real+Estate+Group%2521.mp4
pullquote: Happy Thanksgiving!
enclosure_type: video/mp4
enclosure_time:
use_youtube_image: true
youtube_alternate_image: /uploads/11-19-thanksgiving-np.jpg
youtube_code: gXzuRzJY3Ug
redirect_to: https://blog.bradkorb.com/2018/11/19/wishing-you-a-happy-thanksgiving/
---

{% include youtube.html %}

The 2018 holiday season has officially begun! We hope you are as excited as we are.

We’d like to take a moment to express our gratitude to all of you this Thanksgiving. We have met some truly wonderful people, and we’re proud to have helped so many reach their real estate goals over the years.

{% include pullquote.html %}

We wouldn’t be where we are today without all of your support. Enjoy your Thanksgiving dinner with all of your family and friends—that’s what we plan to do!

In the meantime, please don’t hesitate to reach out to us if you have any real estate questions. We would be happy to help you.
